<settings>   
    
    <!-- General Settings - future features for playlisters and developers -->
    <category label="Settings">
    	<setting id="notify_version" type="text" visible="false" default="0"/>
    	<setting id="notify" visible="false" default="false" />
        <setting id="use_cache" type="bool" label="Use Cache" visible="true" default="false" />
        <setting id="time_cache" type="number" label="[COLOR khaki]    Cache Update Interval [I][COLOR white](minutes)[/I][/COLOR]" subsetting="true" visible="eq(-1,true)" option="int" default=60 />
        <setting id="clear_cache" type="action" label="[COLOR khaki]    Clear Cache [/COLOR]" subsetting="true" visible="eq(-2,true)" option="close" action="PlayMedia(plugin://$ID/clear_cache)"/>
        <setting id="full_meta" type="bool" label="Enable Full Meta For TMDB Lists" visible="true" default="false" />
        <setting id="item_meta" type="bool" label="[COLOR khaki]    Fetch Metadata For Manually Made Lists [I][COLOR white](Slow Loading)[/I][/COLOR]" subsetting="true" visible="eq(-1,true)" default="false" />
        <setting id="open.Osettings" subsetting="false" type="action" label="[COLOR deepskyblue]Open MicroJen Scrapers Settings[/COLOR]" option="close" action="RunPlugin(plugin://script.module.microjenscrapers/?mode=microjenscrapersettings)" />
        <!-- <setting id="debrid.only" type="bool" label="Debrid Sources Only" default="true" /> -->
    </category>
    
    <!-- TMDB api key and access token included for test purposes only -->    
    <!-- Developers and Playlisters need to either include their own -->    
    <!-- or leave blank for users to use theirs -->    
    <!-- This key and token will be deactivated in near future -->  
    <!-- which will stop this function from working -->      
    <category label="TMDB">
        <setting id="tmdb.api_key" type="text" label="API Key" option="hidden" visible="true" default=""/>
        <setting id="tmdb.access_token" type="text" label="Access Token" option="hidden" visible="true" default="" />
    </category>
    
    <!-- initial settings  -->
    <category label="Home Page">
        <setting id="root_xml" type="text" label="Root XML Location" option="hidden" default="file://main.xml" visible="true"/>
        <setting id="message_xml_url" type="text" label="News File Location" option="hidden" default="file://news.xml" visible="true"/>
    </category>
    
    <!-- Dev Mode - future features for playlisters and developers -->
    <category label="Dev Mode">
        <setting id="debug" type="bool" label="Enable Debugging Mode" default="false" visible="false"/>        
    </category>

</settings>
